<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Per Johansson</string>
	<key>Builder Version</key>
	<string>10600.1.25.1</string>
	<key>CFBundleDisplayName</key>
	<string>Direct Currency Converter</string>
	<key>CFBundleIdentifier</key>
	<string>ax.joint.dcc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>main.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>tools-menu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>open-settings</string>
						<key>Identifier</key>
						<string>settings-menuitem</string>
						<key>Title</key>
						<string>Open settings</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>open-testpage</string>
						<key>Identifier</key>
						<string>testpage-menuitem</string>
						<key>Title</key>
						<string>Open test page</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>dcc-tools-button</string>
				<key>Image</key>
				<string>1417201122_repair_cost-16.png</string>
				<key>Label</key>
				<string>Direct Currency Converter</string>
				<key>Menu</key>
				<string>tools-menu</string>
				<key>Palette Label</key>
				<string>Direct Currency Converter tools</string>
				<key>Tool Tip</key>
				<string>Direct Currency Converter tools, test and setting</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>toggle</string>
				<key>Identifier</key>
				<string>dcc-toggle-button</string>
				<key>Image</key>
				<string>1417201090_currency_exchange_1-16.png</string>
				<key>Label</key>
				<string>Direct Currency Converter</string>
				<key>Palette Label</key>
				<string>Direct Currency Converter toggle conversion</string>
				<key>Tool Tip</key>
				<string>Direct Currency Converter toggle conversion on and off</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>https://images.google.com/*</string>
			<string>https://drive.google.com/*</string>
			<string>https://docs.google.com/*</string>
			<string>https://twitter.com/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>dcc-regexes.js</string>
				<string>dcc-content.js</string>
				<string>dcc-safari-content-adapter.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Converts prices from any currency (USD, GBP, etc.) to prices in a selectable currency automatically.</string>
	<key>DeveloperIdentifier</key>
	<string>3X77WF8NVX</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://home.aland.net/joint/dcc.plist</string>
	<key>Website</key>
	<string>http://www.joint.ax</string>
</dict>
</plist>
