<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>on</string>
		<key>Key</key>
		<string>enabledOnStart</string>
		<key>Title</key>
		<string>Enabled on Start</string>
		<key>Titles</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>on</string>
			<string>off</string>
		</array>
	</dict>
</array>
</plist>
